.Rectangle-26-Copy-23 {
    width: 240px;
   height: 32px;
    margin: 63px 114px 1px 150px;
    padding: 5px 12px 5px 12px;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }

  .Text {
    width: 183px;
    height: 22px;
    margin: 0 19px 0 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #343434;
  }

  .Angular {
    width: 49px;
    height: 22px;
    margin: 0 0 65px 13px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #343434;
  }
  
  img.Image-138 {
    width: 24px;
    height: 24px;
    margin: 1px 13px 6px -8px;
    object-fit: contain;
    
  }

  .Reacts {
    width: 43px;
    height: 22px;
    margin: 6px 60px 2px 6px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #343434;
  }

  img.Image-140 {
    width: 24px;
    height: 24px;
    margin: 6px 13px 0 -5px;
    object-fit: contain;
  }

  .Vuejs {
    width: 35px;
    height: 22px;
    margin: 62px 14px 3px 13px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #343434;
  }

  img.Image-141 {
    width: 24px;
    height: 24px;
    margin: 6px 13px 0 -12px;
    object-fit: contain;
  }

  .Rectangle {
    width: 550px;
    height: 90px;
    margin: 38px 40px 30px 150px;
    padding: 0 0 0 26px;
    opacity: 0.8;
    border-radius: 6px;
    border: solid 1px #979797;
    background-color: #fff;
    
  }

  .Rectangle1 {
    width: 482px;
    /*height: 90px;*/
  }

  .Rectangle2 {
    width: 68px;
    height: 90px;
    margin: -84px 0 0 467px;
   /* padding: 35px 22px 33px;*/
    justify-content: end;
    /*opacity: 0.06;*/
    border-radius: 6px;
    border: solid 1px #60606006;
    background-color: #60606010;
  }

  

  .Realize-for-React-fo {
    width: 440px;
    height: 40px;
    /*margin: 36px 16px 14px 0*/
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: 0.25px;
    /*color: #606060*/;
  }

  img.iconmonstr-time-2 {
    width: 16px;
    height: 16px;
    /*margin: 0 8px 6px 0*/;
    object-fit: contain;
  }

  .-hours-ago-by-autho {
    width: 107px;
    height: 13px;
    margin: 2px 0 7px -18px;
    font-family: Roboto;
    font-size: 11px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #767676;
  }

  .Reactangule5{
    height: 18px;
  }

  .Reactangule6{
    margin-top: 18px;
  }

  img.iconmonstr-favorite-2 {
    width: 24px;
    height: 22px;
    object-fit: contain;
    margin-top: 35px;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    position: relative;
  }

  /*.Shape > img.iconmonstr-favorite-2{
    width: 24px;
    height: 22px;
    
  }*/

  .Rectangle2 img.iconmonstr-favorite-2{
    position: absolute;
   
  }
  img.iconmonstr-favorite-3 {
    width: 24px;
    height: 22px;
    object-fit: contain;
    margin-top: 35px;
    margin-left: 12px;
    margin-right: 12px;
    text-align: center;
    position: relative;
  }

  .Rectangle:hover{
    width: 550px;
   height: 90px;
   margin: 30px 150px 30px 40px;
   padding: 0 0 0 26px;
   opacity: 0.4;
   border-radius: 6px;
   border: solid 1px #979797;
   background-color: #fff;
  
  }
 
 