*{
    box-sizing: border-box;
}
.Front-End-Test---Home-view {
    width: 1440px;
    height: 1024px;
    padding: 0 0 98px;
    background-color: #fcfcfc;
    
  }

  .Rectangle-2-Copy {
    width: 1440px;
    height: 114px;
    margin: 0 0 70px;
    padding: 44px 1082px 42px 150px;
    box-shadow: 0 1px 4px 0 rgba(0, 21, 41, 0.12);
    background-image: linear-gradient(to bottom, #ececec -32%, #fff 124%);
  }

  .HACKER-NEWS {
    width: 208px;
    height: 28px;
    object-fit: contain;
    font-family: Baskerville;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #3b3b3b;
  }

 
  .Rectangle {
    width: 98px;
    height: 31px;
    padding: 3px 39px 0 40px;
    border-radius: 2px;
    border: solid 1px #1797ff;
    margin-left: 622px;
  }

  .All {
    width: 19px;
    height: 28px;
    
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #1797ff;
  }

 
  .Rectangle1 {
    width: 98px;
    height: 31px;
    
    border-radius: 2px;
    border: solid 1px #d6d6d6;
  }

  .My-faves {
    width: 65px;
    height: 28px;
   
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.75;
    letter-spacing: normal;
    text-align: center;
    color: #606060;
  }

  .Rectangle-26-Copy-23 {
    width: 240px;
   height: 32px;
    margin: 63px 114px 1px 150px;
    padding: 5px 12px 5px 12px;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }

  .Text {
    width: 183px;
    height: 22px;
    margin: 0 19px 0 0;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #343434;
  }

  .Angular {
    width: 49px;
    height: 22px;
    margin: 0 0 65px 13px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #343434;
  }
  
  img.Image-138 {
    width: 24px;
    height: 24px;
    margin: 1px 13px 62px 0;
    object-fit: contain;
    
  }

  .Reacts {
    width: 43px;
    height: 22px;
    margin: 6px 60px 2px 6px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #343434;
  }

  .Vuejs {
    width: 35px;
    height: 22px;
    margin: 62px 14px 3px 13px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: normal;
    color: #343434;
  }

  